.header {
    position: relative;
    background-color: $light-green;
    padding: 2rem 5rem;
    display: flex;
    align-items: center;

    .site-logo {
        margin-right: 10rem;

        


        &__img {
            width: 8rem;
        }
    }

    .search {
        display: none;
    }

    
}