.search__form {
    input {
        outline: none;
    }

    &__input {
        border: 1px solid $accent-color--primary;
        padding: .8rem;
        font-family: inherit;
        background-color: #014527;
        margin-right: .5rem;
        font-size: 1.2rem;
        color: $light-blue;
        font-family: 500;
        width: 70%;

        &::placeholder {
            color: $light-green;
        }
    }

    &__submit {
        border: none;
        background-color: $secondary-color;
        padding: .8rem;
        color: $accent-color--primary;
        font-family: $font-headings;
        letter-spacing: .5px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;

    }
}